openapi: 3.0.0
servers:
  - url: 'http://cohd.nsides.io/api/'
info:
  description: |
    The Columbia Open Health Data (COHD) API provides access to counts and frequencies (i.e., EHR prevalence) of conditions, procedures, drug exposures, and patient demographics, and the co-occurrence frequencies between them. Count and frequency data were derived from the [Columbia University Medical Center's](http://www.cumc.columbia.edu/) [OHDSI](https://www.ohdsi.org/) database including inpatient and outpatient data. Counts are the number of patients associated with the concept, e.g., diagnosed with a condition, exposed to a drug, or who had a procedure. Frequencies are the number of patients associated with the concept divided by the total number of patients in the dataset, i.e., prevalence in the electronic health records. To protect patient privacy, all concepts and pairs of concepts where the count <= 10 were excluded, and counts were randomized by the Poisson distribution. 
    
    Two datasets are available: 
    1) 5-year dataset: includes clinical data from 2013-2017  
    2) lifetime dataset: includes clinical data from all dates  
    
    While the lifetime dataset captures a larger patient population and range of concepts, the 5-year dataset has better underlying data consistency. 
    
    Clinical concepts (e.g., conditions, procedures, drugs) are coded by their standard concept ID in the [OMOP Common Data Model](https://github.com/OHDSI/CommonDataModel/wiki). API methods are provided to map to/from other vocabularies supported in OMOP and other ontologies using the EMBL-EBI Ontology Xref Service (OxO). 


    The following resources are available through this API: 


    1. Metadata: Metadata on the COHD database, including dataset descriptions, number of concepts, etc. 


    2. OMOP: access to the common vocabulary for name and concept identifier mapping


    3. Clinical Frequencies: access to the counts and frequencies of conditions, procedures, and drug exposures, and the associations between them. Frequency was determined as the number of patients with the code(s) / total number of patients. 


    4. Concept Associations: Inferred associations between concepts using chi-square analysis, ratio between observed to expected frequency, and relative frequency. 


    COHD was developed at the [Columbia University Department of Biomedical Informatics](https://www.dbmi.columbia.edu/) as a collaboration between the [Weng Lab](http://people.dbmi.columbia.edu/~chw7007/), [Tatonetti Lab](http://tatonettilab.org/), and the [NCATS Biomedical Data Translator](https://ncats.nih.gov/translator) program (Red Team). This work was supported in part by grants: NCATS OT3TR002027, NLM R01LM009886-08A1, and NIGMS R01GM107145.
  version: 2.0.0
  termsOfService: 'http://cohd.nsides.io/terms/'
  title: Columbia Open Health Data (COHD)
  contact:
    name: Nicholas Tatonetti
    email: nick.tatonetti@columbia.edu
    x-role: responsible developer
    url: 'http://tatonettilab.org/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-accessRestriction: none
  x-implementationLanguage: Python
tags:
  - name: Metadata
    description: COHD metadata
  - name: OMOP
    description: OMOP Common Data Model concepts
  - name: Clinical Frequencies
    description: Clinical frequency data
  - name: Concept Associations
    description: Estimated association between concepts
x-externalResources:
  - x-url: 'https://www.dbmi.columbia.edu/'
    x-type: website
    x-description: "Department of Biomedical Informatics, Columbia University"
  - x-url: 'https://www.ohdsi.org/'
    x-type: website
    x-description: "Observational Health Data Sciences and Informatics"
  - x-url: 'https://github.com/OHDSI/CommonDataModel/wiki'
    x-type: website
    x-description: "OMOP CDM"
paths:
  /metadata/datasets:
    get:
      tags:
        - Metadata
      summary: Enumerates the datasets available in COHD
      description: 'Returns a list of datasets, including dataset ID, name, and description.'
      operationId: datasets
      responses:
        default:
          description: Default response
  /metadata/domainCounts:
    get:
      tags:
        - Metadata
      summary: The number of concepts in each domain
      description: Returns a list of domains and the number of concepts in each domain.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
      operationId: domainCounts
      responses:
        default:
          description: Default response
  /metadata/domainPairCounts:
    get:
      tags:
        - Metadata
      summary: The number of pairs of concepts in each pair of domains
      description: >-
        Returns a list of pairs of domains and the number of pairs of concepts in each.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
      operationId: domainPairCounts
      responses:
        default:
          description: Default response
  /metadata/patientCount:
    get:
      tags:
        - Metadata
      summary: The number of patients in the dataset
      description: Returns the number of patients in the dataset.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
      operationId: patientCount
      responses:
        default:
          description: Default response
  /omop/concepts:
    get:
      tags:
        - OMOP
      summary: Concept definitions from concept ID
      description: >-
        Returns the OMOP concept names and domains for the given list of concept IDs.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: >-
            A comma separated list of OMOP concept ids, e.g., "192855" or "192855,2008271"
          example: '192855,2008271'
      operationId: concepts
      responses:
        default:
          description: Default response
  /omop/findConceptIDs:
    get:
      tags:
        - OMOP
      summary: Search for OMOP concepts by name and domain
      description: >-
        Searches the OMOP concept table for concept names similar to the query. Returns a list of concepts, including their names and IDs, sorted in decreasing order by the concept's prevalence. 
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 'The name of the concept to search for, e.g., "cancer" or "ibuprofen"'
          example: cancer
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: 'The dataset to reference when sorting concepts by their frequency. Default: 5-year dataset.'
          example: 1
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: 'The domain (e.g., "Condition", "Drug", "Procedure") to restrict the search to. If not specified, the search will be unrestricted. See /metadata/domainCounts for a list of valid domain IDs.'
          example: 'Condition'
      operationId: findConceptIDs
      responses:
        default:
          description: Default response
  /omop/mapToStandardConceptID:
    get:
      tags:
        - OMOP
      summary: Map from a non-standard concept code to a standard OMOP concept ID
      description: >-
        Uses the OMOP concept_relationship table to map from a non-standard concept code (e.g., ICD9CM 715.3) to a standard OMOP concept ID (e.g., 72990). This method may return multiple results if vocabulary_id is not specified and the concept_code is not unique across vocabularies. If both concept_code and vocabulary_id are specified, then 1 result will be returned at most. 
      parameters:
        - name: concept_code
          in: query
          required: true
          schema:
            type: string
          description: 'The concept code to map from, e.g., 715.3'
          example: '715.3'
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: >-
            The vocabulary (e.g., "ICD9CM") that the concept code belongs to. If this parameter is not specified, the method will return mappings from any source vocabulary with matching concept code. See /omop/vocabularies for the list of supported vocabularies.
          example: ICD9CM
      operationId: mapToStandardConceptID
      responses:
        default:
          description: Default response
  /omop/mapFromStandardConceptID:
    get:
      tags:
        - OMOP
      summary: >-
        Map from a standard concept ID to concept code(s) in an external vocabulary
      description: >-
        Uses the OMOP concept_relationship table to map from a standard concept ID (e.g., 72990) to concept code(s) (e.g., ICD9CM 715.3, 715.31, 715.32, etc.). An OMOP standard concept ID may map to many concepts in the external vocabulary.
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'The standard OMOP concept id to map from, e.g., 72990'
          example: 72990
        - name: vocabulary_id
          in: query
          required: false
          schema:
            type: string
          description: >-
            The vocabulary (e.g., "ICD9CM") to map to. If this parameter is not specified, the method will return mappings to any matching vocabularies. See /omop/vocabularies for the list of supported vocabularies.
          example: ICD9CM
      operationId: mapFromStandardConceptID
      responses:
        default:
          description: Default response
  /omop/vocabularies:
    get:
      tags:
        - OMOP
      summary: List of vocabularies
      description: >-
        List of vocabulary_ids. Useful if you need to use /omop/mapToStandardConceptID to map a concept code from a source vocabulary to the OMOP standard vocabulary.
      operationId: vocabularies
      responses:
        default:
          description: Default response
  /omop/xrefToOMOP:
    get:
      tags:
        - OMOP
      summary: Cross-reference from an ontology to OMOP standard concepts using the Ontology Xref Service
      description: >-
        Attempts to map a concept from an external ontology to an OMOP standard concept ID using the EMBL-EBI Ontology Xref Service (OxO): https://www.ebi.ac.uk/spot/oxo/index. This method attempts to use OxO to map from the original ontology to an intermediate ontology that is included in OMOP (ICD9CM, ICD10CM, SNOMEDCT, and MeSH), then uses the OMOP mappings to the standard concepts. Multiple mappings may be returned. Results are sorted by total_distance (OxO distance + OMOP distance) in ascending order.
      parameters:
        - name: curie
          in: query
          required: true
          schema:
            type: string
          description: 'Compacy URI (CURIE) of the concept to map, e.g., DOID:8398'
          example: 'DOID:8398'
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Mapping distance for OxO. Note: this is the distance used in the OxO API to map from the original concept to an ICD9CM, ICD10CM, SNOMEDCT, or MeSH concept. One additional step may be taken by the COHD API to map to the OMOP standard concept. Default: 2.
          example: 2
      operationId: xrefToOMOP
      responses:
        default:
          description: Default response
  /omop/xrefFromOMOP:
    get:
      tags:
        - OMOP
      summary: Cross-reference from an ontology to OMOP standard concepts using the Ontology Xref Service
      description: >-
        Attempts to map a concept from an external ontology to an OMOP standard concept ID using the EMBL-EBI Ontology Xref Service (OxO): https://www.ebi.ac.uk/spot/oxo/index. This method maps from the OMOP standard concept to an intermediate vocabulary included is OxO (ICD9CM, ICD10CM, SNOMEDCT, and MeSH), then uses the OxO API to map to other ontologies. Multiple mappings may be returned. Results are sorted by total_distance (OxO distance + OMOP distance) in ascending order.
      parameters:
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'OMOP standard concept_id to map, e.g., 192855'
          example: 192855
        - name: mapping_targets
          in: query
          required: false
          schema:
            type: string 
          description: 'Target ontologies for OxO. Comma separated target prefixes, e.g., "DOID,UMLS"'
          example: 'UMLS'
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Mapping distance for OxO. Note: this is the distance used in the OxO API to map from an ICD9CM, ICD10CM, SNOMEDCT, or MeSH concept to the desired ontology. One additional step may be taken by the COHD API to map to the OMOP standard concept to ICD9CM, ICD10CM, SNOMEDCT, or
            MeSH. Default: 2.
          example: 2
      operationId: xrefFromOMOP
      responses:
        default:
          description: Default response
  /frequencies/singleConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequency of individual concepts
      description: >-
        Retrieves observed clinical frequencies of individual concepts. Multiple concepts may be requested in a comma separated list.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: >-
            A comma separated list of OMOP concept ids, e.g., "192855" or "192855,2008271"
          example: '192855'
      operationId: singleConceptFreq
      responses:
        default:
          description: Default response
  /frequencies/pairedConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequency of a pair of concepts
      description: Retrieves observed clinical frequencies of a pair of concepts.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: 'A comma pair of OMOP concept ids, e.g., "192855,2008271"'
          example: '192855,2008271'
      operationId: pairedConceptFreq
      responses:
        default:
          description: Default response
  /frequencies/associatedConceptFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequencies of all pairs of concepts given a concept id
      description: >-
        Retrieves observed clinical frequencies of all pairs of concepts given a concept id. Results are returned in descending order of paired concept count. Note that the largest paired concept counts are often dominated by associated concepts with high prevalence.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
      operationId: associatedConceptFreq
      responses:
        default:
          description: Default response
  /frequencies/associatedConceptDomainFreq:
    get:
      tags:
        - Clinical Frequencies
      summary: Clinical frequencies of all pairs of concepts given a concept id
      description: >-
        Retrieves observed clinical frequencies of all pairs of concepts given a concept id restricted by domain of the associated concept_id.  Results are returned in descending order of paired concept count. Note that the largest paired concept counts are often dominated by associated concepts with high prevalence.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: domain
          in: query
          required: true
          schema:
            type: string
          description: 'An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc. See /metadata/domainCounts for a list of valid domain IDs.'
          example: Procedure
      operationId: associatedConceptDomainFreq
      responses:
        default:
          description: Default response
  /frequencies/mostFrequentConcepts:
    get:
      tags:
        - Clinical Frequencies
      summary: Most frequent concepts [by domain]
      description: Retrieves the most frequent concepts.
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: q
          in: query
          required: true
          schema:
            type: integer
          description: 'The number of concepts to retreieve, e.g., "100"'
          example: 100
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: '(Optional) The domain_id to restrict to, e.g., "Condition", "Drug", "Procedure". See /metadata/domainCounts for a list of valid domain IDs.'
          example: 'Condition'
      operationId: mostFrequentConcepts
      responses:
        default:
          description: Default response
  /association/chiSquare:
    get:
      tags:
        - Concept Associations
      summary: Chi-square analysis on pairs of concepts
      description: >
        Returns the chi-square statistic and p-value between pairs of concepts. Results are returned in descending order of the chi-square statistic. Note that due to large sample sizes, the chi-square can become very large. 
        
        
        The expected frequencies for the chi-square analysis are calculated based on the single concept frequencies and assuming independence between concepts. P-value is calculated with 1 DOF. 


        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Result for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If this parameter is specified, then the chi-square between concept_id_1 and concept_id_2 is returned. If this parameter is not specified, then a list of chi-squared results between concept_id_1 and other concepts is returned.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict the associated concept (concept_id_2) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Procedure
      operationId: chiSquare
      responses:
        default:
          description: Default response
  /association/obsExpRatio:
    get:
      tags:
        - Concept Associations
      summary: Observed Count / Expected Count
      description: >
        Returns the natural logarithm of the ratio between the observed count and expected count. Expected count is calculated from the single concept frequencies and assuming independence between the concepts. Results are returned in descending order of ln_ratio.
        
        
        expected_count = Count_1_and_2 * num_patients / (Count_1 * Count_2)


        ln_ratio = ln(expected_count)
        

        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Results for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If concept_id_2 is unspecified, then this method will return all pairs of concepts with concept_id_1.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict the associated concept (concept_id_2) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Procedure
      operationId: obsExpRatio
      responses:
        default:
          description: Default response
  /association/relativeFrequency:
    get:
      tags:
        - Concept Associations
      summary: Relative frequency between pairs of concepts
      description: >
        Calculates the relative frequency (i.e., conditional probability) between pairs of concepts. Results are returned in descending order of relative frequency. Note that due to the randomization of the counts, the calculated relative frequencies can exceed the limit of 1.0. 


        Relative Frequency = Count_1_and_2 / Count_2


        This method has overloaded behavior based on the specified parameters:


        1) concept_id_1 and concept_id_2: Result for the pair (concept_id_1, concept_id_2)

        2) concept_id_1: Results for all pairs of concepts that include concept_id_1

        3) concept_id_1 and domain: Results for all pairs of concepts including concept_id_1 and where concept_id_2 belongs to the specified domain
      parameters:
        - name: dataset_id
          in: query
          required: false
          schema:
            type: integer
          description: >-
            The dataset_id of the dataset to query. Default dataset is the 5-year dataset.
          example: 1
        - name: concept_id_1
          in: query
          required: true
          schema:
            type: integer
          description: 'An OMOP concept id, e.g., "192855"'
          example: 192855
        - name: concept_id_2
          in: query
          required: false
          schema:
            type: integer
          description: >-
            An OMOP concept id, e.g., "2008271". If concept_id_2 is unspecified, then this method will return all pairs of concepts with concept_id_1.
          example: 2008271
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: >-
            An OMOP domain id, e.g., "Condition", "Drug", "Procedure", etc., to restrict concept_id_2 (the base concept) to. If this parameter is not specified, then the domain is unrestricted. See /metadata/domainCounts for a list of valid domain IDs.
          example: Procedure
      operationId: relativeFrequency
      responses:
        default:
          description: Default response
components:
  schemas: {}
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  securitySchemes: {}
  headers: {}
  links: {}
  callbacks: {}
security: []
